node-red-flow.json
    [
        {
            "id": "mqtt-in",
            "type": "mqtt in",
            "z": "flow1",
            "name": "External Sensor Data Input",
            "topic": "training/device/mihai-lazar",
            "qos": "1",
            "datatype": "json",
            "broker": "mqtt-broker",
            "inputs": 0,
            "outputs": 1,
            "x": 150,
            "y": 100,
            "wires": [["json-parse"]]
        },
        {
            "id": "json-parse",
            "type": "json",
            "z": "flow1",
            "name": "Parse JSON",
            "property": "payload",
            "action": "",
            "pretty": false,
            "x": 350,
            "y": 100,
            "wires": [["process-data"]]
        },
        {
            "id": "process-data",
            "type": "function",
            "z": "flow1",
            "name": "Process Data",
            "func": "// Extract data from payload\nconst data = msg.payload;\n\n// Create InfluxDB point\nmsg.payload = {\n    measurement: 'sensor_readings',\n    tags: {\n        sensor_id: data.sensor_id,\n        location: data.location\n    },\n    fields: {\n        temperature: data.temperature,\n        humidity: data.humidity\n    },\n    timestamp: new Date(data.timestamp)\n};\n\nreturn msg;",
            "outputs": 1,
            "x": 550,
            "y": 100,
            "wires": [["influx-out", "debug"]]
        },
        {
            "id": "influx-out",
            "type": "influxdb out",
            "z": "flow1",
            "influxdb": "influx-config",
            "name": "Store in InfluxDB",
            "measurement": "",
            "precision": "ms",
            "retentionPolicy": "",
            "x": 750,
            "y": 100,
            "wires": []
        },
        {
            "id": "debug",
            "type": "debug",
            "z": "flow1",
            "name": "Debug Output",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "x": 750,
            "y": 150,
            "wires": []
        },
        {        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Beia MQTT Broker",
        "broker": "mqtt.beia-telemetrie.ro",
        "port": "1883",
        "clientid": "node-red-client-12345678",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
        },
        {
            "id": "influx-config",
            "type": "influxdb",
            "hostname": "influxdb",
            "port": "8086",
            "protocol": "http",
            "database": "sensor_data",
            "name": "InfluxDB",
            "usetls": false,
            "tls": "",
            "influxdbVersion": "2.0",
            "url": "http://influxdb:8086",
            "rejectUnauthorized": false,
            "token": "adminpassword",
            "org": "myorg",
            "bucket": "sensor_data"
        }
    ]
